[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[es]=gnome-panel-launcher
Name[es]=Detener Apache-tomcat 7.0.41 en este equipo.
Exec="/home/henrypb/Escritorio/shutDown apache-tomcat 7.0.41"
Comment[es]=Autor: H.J.P.B. Creado Abril 25, 2018
Name=Detener Apache-tomcat 7.0.41 en este equipo
Comment=Autor: H.J.P.B. Creado Abril 25, 2018
Icon=gnome-panel-launcher
