
[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Gestion de Caja (8084)
Type=Link
URL=http://localhost:8084/Caja/
Icon=text-html
Name[es]=Enlace hacia Gestion de Caja (A Tomcat: 8084)
