
[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Gestion de Caja (8080)
Type=Link
URL=http://localhost:8080/Caja/
Icon=text-html
Name[es]=Enlace hacia Gestion de Caja (Glash Fish: 8080)
